header {
  .logo {
    img {
      width: 160px;
    }
  }

  .tools {
    padding-top: 25px;
    .pi {
      margin-right: 10px;
    }

    orders-cart-icon {
      cursor: pointer;
    }
  }

  .search {
    padding-top: 25px;
  }

  .navigation {
    padding-top: 25px;
  }
}
